<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:56:07</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.adminlogintest()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">adminlogintest</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:56:36</td>   <td>29713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ScheduleFlight.scheduleFlight()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">scheduleFlight</td> 
  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:55:50</td>   <td>-16458</td> <td title="&gt;&gt;ScheduleFlight.setup()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:55:50</td>   <td>-16337</td> <td>&nbsp;</td><td title="&gt;&gt;ScheduleFlight.setupTest()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:57:32</td>   <td>85457</td> <td title="&lt;&lt;ScheduleFlight.tearDown()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
<tr bgcolor="c0a365">  <td>20/07/04 00:57:20</td>   <td>73548</td> <td>&nbsp;</td><td title="&lt;&lt;ScheduleFlight.tearDownTest()[pri:0, instance:com.happytrip.ScheduleFlight@305fd85d]">&lt;&lt;tearDownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1543237999</td>   <td></td> </tr>
</table>
